body{
    background-color: black;
    color: white;
    text-align: center;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    text-decoration: underline;
}
hr{
    width: 50%;
}