body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.body{
    margin: auto;
    width: 50%;
    background-color: white;
}
h1{
    position: relative;
    left: 3%;
    padding-top: 1%;
}
img{
    width: 100%;
    position: relative;
}
hr{
    width: 97%;
}
p{
    width: 95%;
    margin: auto;
    word-spacing: 3px;
    color: darkslategrey;
}
form p{
    position: relative;
    right: 2%;
    width: 90%;
}
#name{
    width: 100%;
    padding: 1.5%;
    font-size: large;
}
select{
    width: 103.7%;
    padding: 2%;
    padding-left: 8%;
    margin: 2% 0 2% 0;
}
#button{
    text-align: center;
    font-size: x-small;
    position: relative;
    background-color: rgb(216, 0, 0);
    border: none;
    color: white;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    left: 14px;
}